*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#0066FF;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: #c5c3c5;
    padding: 10px 24px;
    border-radius: 10px;
    width: 600px;
    height: 320px;
  }
  
  h1 {
    color: #070e0f;
    margin-left: 60px;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
  }
  
  .date {
    top: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  }

  .container .box {
    width: 100%;
    display: flex;
  }
  
  .box div {
    width: 100%%;
  }
  
  select {
    width: 260px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    background: #535153;
    outline: none;
    border: 1px solid #000000;
    color: black;
    margin: 0.2rem 0rem;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
    color:#ffffff;
    text-align: center;
  }
  
  
  input {
    width: 95%;
    height: 50px;
    font-size: 16px;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    outline: none;
    padding: 0 1em;
    font-weight: bold;
    text-align: center;
  }
  
  
  .convertbtn {
    width: 54110px;
    height: 50px;
    background: #1123ea;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0.5rem 0;
    font-weight: bold;
    transition: background-color 0.25s;
    text-align: center;
  }

  .flag {
    width: 70px;
    height: 50px;
    border: 1px solid #000000;
    margin-left: 20px;
    border-radius: 10px;
}
